.game {
  border: 1px solid #000;
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
}

.teams {
  display: flex;
  justify-content: space-between;
}

.team {
  text-align: center;;
  width: 50%;
}
