.game {
  border: 1px solid #092c5c;
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
}

.game-date {
  background-color: #092c5c;
  color: #fff;
  display: inline-block;
  left: -1rem;
  padding: 0.5rem;
  position: relative;
  text-align: center;
  top: -1rem;

  @media(min-width: 800px) {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }

  span {
    display: block;
  }

  .month {
    text-transform: uppercase;
  }

  .day {
    font-size: 1.25rem;
  }
}

.teams {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

.team {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.team-seperator {
  align-self: center;
  padding: 0 1rem;
}

.team-name {
  display: block;

  img {
    height: 40px;
    width: auto;
    vertical-align: top;
  }

  span {
    display: block;
    margin: 0.5rem 0 0;
  }
}

.team-record {
  display: block;
  font-size: 0.875rem;
  margin: 0 0 0.5rem;
}

.team-score {
  display: block;
  font-size: 2rem;
  font-weight: 200;
  margin: auto 0 0;

  .team-win & {
    font-weight: 700;
  }
}

.game-stats {
  h2 {
    border-bottom: 1px solid #333;
    font-size: 1.25rem;
    margin: 1.55rem 0 0.75rem;
    padding: 0 0 0.25rem;
  }

  p {
    margin: 0.25rem 0;
  }
}

.game-streak {
  font-style: italic;
  margin: 1rem 0 0;
}
